:root {
    --bakground: #F3F5FC;
    --white: #fff;
    --gray-400: #495057;
    --gray-500: #343A40;
    --dark-blue-300: #0A3871;
    --dark-blue-400: #072B61;
    --light-blue-200: #EFF1FA;
    --font-principal: 'Inter',
        sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    font-family: var(--font-principal);
    background-color: var(--bakground);
}

img {
    max-width: 100%;
    display: block;
}

/* UTILITES */
.btn {
    padding: 2.4rem;
    border-radius: 2.4rem;
    font-size: 1.6rem;
    font-weight: 400;
}

.btn:hover {
    cursor: pointer;
}

@media(min-width: 1200px) {
    .btn {
        width: 30rem;
    }
}

/* GLOBALS */
.container {
    margin: 0 1.6rem;
}

@media(min-width: 768px) {
    .container {
        margin: 0 4rem;
    }
}


/* HEADER */
.header {
    display: flex;
    align-items: center;
    height: 9.6rem;
}

.header__image {
    width: 100%;
    height: auto;
}

@media(min-width: 1200px) {

    .header {
        position: relative;
        height: 0;
    }

    .header__image {
        position: absolute;
        top: 3rem;
        width: 3.2rem;
    }

}

/* MAIN */
.form {
    padding-top: 5.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

@media(min-width: 1200px) {
    .form {
        padding: 5.5rem 0;
    }
}

.form__textarea {
    font-weight: 400;
    font-size: 3.2rem;
    color: var(--dark-blue-300);
    border: none;
    background-color: transparent;
    resize: none;
    overflow: hidden;
}

@media(min-width: 768px) {
    .form__textarea {
        min-height: 55vh;
    }
}

@media(min-width: 1200px) {
    .form__textarea {
        margin: 10rem 8rem 0 16rem;
    }
}

.form__textarea:focus-visible {
    outline: none;
}

.form__textarea::placeholder {
    color: var(--dark-blue-300);
}

.form__label {
    font-weight: 400;
    font-size: 1.2rem;
    color: var(--gray-400);
    display: flex;
    align-items: center;
    gap: 1rem;
}

@media(min-width: 1200px) {
    .form__label {
        margin: 0 8rem 0 16rem;
    }
}

.form__label svg {
    width: 1.7rem;
    color: #67808E;
}

.buttons {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 2.4rem;
}

@media(min-width: 768px) {
    .buttons {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: unset;
    }
}

@media(min-width: 1200px) {
    .buttons {
        display: flex;
        margin: 0 8rem 3rem 16rem;
    }
}

.button__encrypt {
    background-color: var(--dark-blue-300);
    color: var(--white);
    border-color: transparent;
}

.button__encrypt:hover {
    background-color: var(--dark-blue-400);
}

.button__decrypt {
    background-color: var(--white);
    color: var(--dark-blue-300);
    border: 2px solid var(--dark-blue-300);
}

.button__decrypt:hover {
    background-color: var(--light-blue-200);
}


.message {
    margin: 6.4rem .8rem;
    border: 1px solid transparent;
    border-radius: 3.2rem;
    background-color: var(--white);
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

@media(min-width: 1200px) {
    .message {
        margin: 4rem;
    }
}

.message__info {
    padding: 3.2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.6rem;
}

.message__info h3 {
    margin: 0;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1.2;
    color: var(--gray-500);
}

.message__info p {
    margin: 0;
    color: var(--gray-400);
}

.footer {
    text-align: center;
    font-weight: 700;
    font-size: 1.2rem;
}

@media(min-width: 1200px) {
    main {
        display: flex;
        justify-content: space-between;
    }
}